name: "Build ESPHome"

on:
  workflow_dispatch:
    inputs:
      bk7231t:
        type: boolean
        description: BK7231T
      bk7231n:
        type: boolean
        description: BK7231N
      ln882hki:
        type: boolean
        description: LN882HKI
      rtl8710bn:
        type: boolean
        description: RTL8710BN
      esp8266:
        type: boolean
        description: ESP8266
      esp32:
        type: boolean
        description: ESP32
      esp32-c2:
        type: boolean
        description: ESP32-C2

permissions:
  contents: write

jobs:
  build:
    name: Build ESPHome
    strategy:
      fail-fast: false
      matrix:
        include:
          - enabled: ${{ inputs.bk7231t }}
            config: bk7231t
          - enabled: ${{ inputs.bk7231n }}
            config: bk7231n
          - enabled: ${{ inputs.rtl8710bn }}
            config: rtl8710bn
          - enabled: ${{ inputs.ln882hki }}
            config: ln882hki
          - enabled: ${{ inputs.esp8266 }}
            config: esp8266
          - enabled: ${{ inputs.esp32 }}
            config: esp32
          - enabled: ${{ inputs.esp32-c2 }}
            config: esp32-c2
            esphome-repo: libretiny-eu/libretiny-esphome
            esphome-ref: feature/esp32-c2
    uses: libretiny-eu/esphome-kickstart/.github/workflows/build-inner.yml@master
    with:
      enabled: ${{ fromJSON(matrix.enabled) }}
      config: ${{ matrix.config }}
      esphome-repo: ${{ matrix.esphome-repo }}
      esphome-ref: ${{ matrix.esphome-ref }}
