name: "Build ESPHome (single)"

on:
  workflow_call:
    inputs:
      enabled:
        required: false
        type: boolean
        default: true
      config:
        required: true
        type: string
      esphome-repo:
        required: false
        type: string
      esphome-ref:
        required: false
        type: string

jobs:
  esphome:
    name: Build ESPHome (${{ inputs.config }})
    runs-on: ubuntu-latest
    if: ${{ inputs.enabled }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Checkout ESPHome
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.esphome-repo || 'esphome/esphome' }}
          ref: ${{ inputs.esphome-ref || 'release' }}
          path: esphome
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12'

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: ~/.platformio
          key: ${{ runner.os }}-${{ inputs.esphome-repo || 'esphome/esphome' }}

      - name: Install PlatformIO Core
        run: |
          pip install --upgrade platformio
      - name: Install ESPHome
        run: |
          cd esphome/
          pip install -e .

      - name: Get current date
        id: date
        run: |
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
          echo "datever=$(date +'%y.%m.%d')" >> $GITHUB_OUTPUT

      - name: Build firmware binaries
        run: |
          mkdir -p build/
          cd yaml/
          esphome compile kickstart-${{ inputs.config }}.yaml

      - name: Copy firmware binaries
        run: |
          cd yaml/

          config=${{ inputs.config }}
          date=${{ steps.date.outputs.date }}
          outdir=.esphome/build/kickstart-${config}/.pioenvs/kickstart-${config}

          # copy UF2 if available, otherwise BIN
          if [ -f ${outdir}/firmware.uf2 ]; then
            cp ${outdir}/firmware.uf2 ../build/kickstart-${config}-${date}.uf2
          else
            cp ${outdir}/firmware.bin ../build/kickstart-${config}-${date}.bin
          fi

          if [ -f ${outdir}/firmware.factory.bin ]; then
            cp ${outdir}/firmware.factory.bin ../build/kickstart-${config}-${date}.factory.bin
          fi

          if [ $config = 'bk7231t' ]; then
            cp ${outdir}/*.ota.rbl ${outdir}/*.ota.ug.bin ../build/
            cp ${outdir}/*.ota.rbl ../build/OpenBK7231T_OTA_upgrade_to_esphome_${date}.rbl
          fi
          if [ $config = 'bk7231n' ]; then
            cp ${outdir}/*.ota.rbl ${outdir}/*.ota.ug.bin ../build/
            cp ${outdir}/*.ota.rbl ../build/OpenBK7231N_OTA_upgrade_to_esphome_${date}.rbl
          fi

      - name: Add GitHub release assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/*.*
          tag_name: v${{ steps.date.outputs.datever }}
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
